body {
    background: -webkit-linear-gradient(rgb(170, 102, 102), rgb(128, 34, 34));
    font-family: "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif;
}

}
h1, h2, h3 {
    text-align: center;
    border: 2px solid black;
    background: -webkit-linear-gradient(#eee, #333);

    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
 

}

ul {
    padding-left: 0.5em;
}
img {
    width: 10em;
    margin-right: 10px;
    float: left;
    border: 2px solid black;
}

   /*Style for phones*/

@media (max-width: 400px) {
    body {
    background-color: white;
    }
    img {
        width: 1em;
        margin-right: 10px;
        float: left;
        border: 2px solid black;
    }
    #grid-floats {
        display: grid;
        grid-template-columns: 11em 11em;
        grid-template-rows: 12em repeat(6, 300px) 12em;
        row-gap: 0.5em;
        column-gap: 0.5em;
    }
    #grid-floats > .grid-item:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: blue;
    }
    #grid-floats > .grid-item:nth-child(14){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .grid-item {
        border: 2px solid rgb(175, 10, 10);
    }      
}

    /*style for desktop*/

@media (min-width: 401px) {
    body {
        background-color: rgb(118, 115, 138);
    }
    
    #grid-floats {
        display: grid;
        grid-template-columns: repeat(4, 19em);
        grid-template-rows: repeat(4, 300px);
        row-gap: 2em;
        column-gap: 2em;
    }
    
    #grid-floats > .grid-item:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 1;
        background-color: blue;
    }
    #grid-floats > .grid-item {
        border: 2px solid black;

    }
}

/*flex*/
/*style for phones*/

@media (max-width: 400px) {
    #grid-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
    }
    #grid-flex > .grid-item:nth-child(1) {
        width: 100%;
    }
    #grid-flex > .grid-item {
        width: 10.5em;
        margin-top: 0.5em;
    }
    #grid-flex > .grid-item:nth-child(14) {
        width: 100%;
    }
}

/*style for Desktop*/

@media (min-width: 401px) {
    #grid-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

    }
    #grid-flex > .grid-item:nth-child(1) {
        width: 50%;
    }
    #grid-flex > .grid-item {
        width: 17em;
        margin-bottom: 1em;
        border: 2px solid black;
    }
}




